/* Write your CSS here */
.item-img {
  width: 20px;
}
.img {
  width: 50px;
}
.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #f8f8ff;
  border-radius: 10px;
  margin: 10px;
}
